<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preferences</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script>
        require('../assets/js/bootstrap.min.js');
    </script>
    <script>
        const ipc = require('electron').ipcRenderer;
        ipc.send('getvalue-launch-at-login');
        ipc.on('value-launch-at-login', (event, arg) => {
            document.getElementById("launchAtLogin").checked = arg;
        })
        function checkbox(parameter, id){
            if(document.getElementById(id).checked) {
                ipc.send(parameter, true);
            }else{
                ipc.send(parameter, false);
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div id="preferences">
    <h1 class="title">Preferences</h1>
        <form>
            <div class="form-group">
                <label for="language">Language</label>
                <select class="form-control" id="language">
                    <option>English</option>
                    <option>Français</option>
                    <option>Español</option>
                </select>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" onchange="checkbox('launch-at-login', 'launchAtLogin')" id="launchAtLogin">
                <label class="form-check-label" for="launchAtLogin">Launch at login?</label>
            </div>
        </form>
        </div>
</div>
</div>

</body>
</html>
