<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preferences</title>
    <link rel="stylesheet" href="../assets/css/itunes-discord.css">
    <script>
        require('../assets/js/app.js');
    </script>
</head>
<body>
<<ph-window>
    <!--Window content here-->
    <window-content class="theme-gray">

        <div class="main-border">
            <form id="settings">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Launch at login
                        </label>
                        <button id="ipc">send an ipc message</button>
                    </div>

            </form>
        </div>

    </window-content>

</ph-window>

</body>
<script>
    const ipc = require('electron').ipcRenderer;

document.getElementById('ipc').addEventListener('click', () => {
    ipc.send('log-error');
});</script>
</html>
